@model ParkingSystem.WebUI.Models.ParkingSpotEditViewModel

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="editParkingSpotModalLabel">Edit Parking Spot</h4>
        </div>

        <form method="post" action="@Url.Action("EditParkingSpot", "ParkingSpots")"
              data-parking-ajax="true" data-parking-target="#editParkingSpotModalBody">

            <div id="editParkingSpotModalBody" class="modal-body">
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.ParkingSpot.Id)
                
                <div class="form-horizontal">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.ParkingSpot.Name, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.ParkingSpot.Name,
                                htmlAttributes: new
                                {
                                    @class = "form-control",
                                    placeholder = "Parking spot name"
                                })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ParkingSpot.Type, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.ParkingTypeId,
                                Model.ParkingTypes,
                                htmlAttributes: new
                                {
                                    @class = "form-control",
                                    placeholder = "Parking spot type"
                                })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">
                    Edit
                </button>
            </div>
        </form>

    </div>
</div>
